<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="Licenser.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <Licenser.Properties.Settings>
            <setting name="LicenseContent" serializeAs="String">
                <value>&lt;License&gt;
  &lt;Id&gt;decae066-5903-4eb0-92be-e30d3f643990&lt;/Id&gt;
  &lt;Type&gt;Standard&lt;/Type&gt;
  &lt;Signature&gt;{0}&lt;/Signature&gt;
&lt;/License&gt;</value>
            </setting>
            <setting name="PublicKey" serializeAs="String">
                <value>MIIBKjCB4wYHKoZIzj0CATCB1wIBATAsBgcqhkjOPQEBAiEA/////wAAAAEAAAAAAAAAAAAAAAD///////////////8wWwQg/////wAAAAEAAAAAAAAAAAAAAAD///////////////wEIFrGNdiqOpPns+u9VXaYhrxlHQawzFOw9jvOPD4n0mBLAxUAxJ02CIbnBJNqZnjhE50mt4GffpAEIQNrF9Hy4SxCR/i85uVjpEDydwN9gS3rM6D0oTlF2JjClgIhAP////8AAAAA//////////+85vqtpxeehPO5ysL8YyVRAgEBA0IABH+/L9yIiGzv7O5yqF4tsHtriSqV+6aZlrTI9L1OPIjZuncEdJZQ719QRhDjyv9X2X93qpYa45ZMDuCm+iSh1oc=</value>
            </setting>
            <setting name="Signature" serializeAs="String">
                <value>MEYCIQD9eX0ZPXSdwHB9XIGLr2goTZDOslymftbwTnpHRhbd0AIhAJ76sgO1MKi7ZK0x3JxXBRtXK2isCsLeY25avd16Q732</value>
            </setting>
        </Licenser.Properties.Settings>
    </userSettings>
</configuration>